* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #fff;
    padding: 0 10rem;
    margin-top: 1rem;




}

.logo-and-name {
    color: #000;
    font-weight: 900;
    font-size: large;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    list-style: none;

}

.navbar-sub-container {
    text-decoration: none;
    padding: 1rem 1rem;
    margin: 2%;

}

.navbar-sub-container li {

    display: inline-block;

    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.5s;
}

.icon-1 {
    color: #000;
    font-size: 30px;
    cursor: pointer;


}

/* ---------------------------------------
-----------main container part----------------- */

.main-upper-container {
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    margin-top: 1rem;
}

.text1-part {
    width: 50%;



}

.text1-part>h1 {
    font-size: 3rem;
    padding: 1rem 0;
    font-weight: 900;
    color: #f96d00;



}

.text1-part>h1+p {
    font-size: 1.5rem;
    padding: 1rem 0;




}

.button-section {
    padding: 1rem 0;
    background-color: #385170;
    display: inline-block;
    border-radius: 30px;

}

.button-section>a {
    padding: 2rem 3rem;
    text-decoration: none;
    color: #f96d00;
    font-size: 1.5rem;
    font-weight: 900;

}

.button-section>:hover {
    color: #ffffff8c;
    transition: 0.8s;
    box-shadow: 5px 5px 10px 2px#3851705e;
    padding: 1rem 0;
    border-radius: 30px;
    padding: 1rem 3rem;

}






/* media quarry use */


@media screen and (max-width: 700px) {


    nav {

        display: block;


        margin: 0;
        padding: 1%;
        margin-top: 1%;
        margin-left: 1rem;
        text-align: center;
        background-color: bisque;





    }

    .navbar-sub-container {

        text-decoration: none;
        padding-left: 1%;
        margin-right: 1%;


    }

    .navbar-main-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 8%;
        list-style: none;



    }


}

@media screen and (min-width: 700px) and (max-width: 1180px) {


    nav {

        display: block;


        margin: 0;
        padding: 1%;
        margin-top: 1%;
        margin-left: 1rem;
        text-align: center;
        background-color: bisque;





    }




    .navbar-main-container {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;





    }


}